.App {
  text-align: center;
}

.fancy-pants {
  font-size: 400px;
  color: #eee;
  line-height: 30px;
}

.left-quote {
  position: relative;
  left: 0;
}

.joke-text {
  font-size: 30px;
  color: black;
  line-height: 30px;
}

.setup-text {
  position: relative;
  left: -40px;
  top: -90px;
}
